@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
}

.left {
    width: 30%;
    background-image: url('assets/green.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.left .logo {
    background-color: rgba(0, 0, 0, 0.5);
    height: 130px;
    padding: 20px 0;
    text-align: center;

    position: relative;
    top: 100px;
}

.left .logo img {
    height: 100%;
    object-fit: contain;
}

.left .acknowledge {
    position: absolute;
    font-size: 0.7rem;
    color: #fff;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.left .acknowledge a {
    color: #fff;
}

.right {
    width: 70%;
    background-color: rgb(200, 200, 200);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.right .intro {
    padding: 0 80px;
    font-weight: bold;
}

.right .intro p:first-child + p {
    margin: 15px 0;
}


.form-controls {
    padding: 30px 80px;
    background-color: #fff;    

    display: flex;
    flex-wrap: wrap;
    padding-right: 200px;
}

.ldt {
    font-weight: bold;
    background-color: #fff;
    padding: 0 80px;
    padding-top: 30px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control label {
    text-transform: uppercase;
    font-size: 14px;
}

.form-control input {
    width: 250px;
    padding: 4px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid 2px #ccc;
}

.form-control input:hover,
.form-control input:focus {
    outline: none;
    border: solid 2px blueviolet;
}

.form-control input:valid {
    border: solid 2px mediumseagreen;
}

button[type="submit"] {
    background-color: #596D48;
    color: #fff;
    margin-left: 80px;
    margin-top: 30px;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}